* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

#page {
    width: 100vw;
    height: 100vh;
    max-width: 1180px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.dark-mode {
    position: absolute;
}

#sounds {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.timer {
    display: flex;
    font-size: 8rem;
}

button {
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    transition: 0.2s;
    z-index: 1;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
}

.controls button {
    background-color: transparent;
}

.controls button:hover {
    opacity: 0.8;
}

.sounds button {
    background-color: #E1E1E6;
}

.pause-icon {
    display: none;
}

.running .play-icon {
    display: none;
}

.running .pause-icon {
    display: block;
}

.active-sound {
    background: #02799D;
    color: white;
}

@media (max-width: 600px) {  
    #page {
        grid-template-columns: 1fr;
        padding: 2rem;
        gap: 3rem;
    }

    .timer {
        justify-content: center;
        font-size: 6rem;
        margin-bottom: 1%;
    }

    .controls {
        gap: 1rem;
    }
  }